<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Atlanta Dashboard</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
      <!-- Morris chart -->
      <link rel="stylesheet" href="/bower_components/morris.js/morris.css">
      <!-- jvectormap -->
      <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
      <!-- Date Picker -->
      <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
      <!-- bootstrap wysihtml5 - text editor -->
      <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
   </head>
   <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
         <header class="main-header">
            <!-- Logo -->
            <a href="dashboard" class="logo">
               <!-- mini logo for sidebar mini 50x50 pixels -->
               <span class="logo-mini"><b>A</b></span>
               <!-- logo for regular state and mobile devices -->
               <span class="logo-lg"><b>Atlanta</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
               <!-- Sidebar toggle button-->
               <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
               <span class="sr-only">Toggle navigation</span>
               </a>
               <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                     <!-- User Account: style can be found in dropdown.less -->
                     <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%= user.avatarURL %>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><%= user.tag %></span>
                        </a>
                        <ul class="dropdown-menu">
                           <!-- User image -->
                           <li class="user-header">
                              <img src="<%= user.avatarURL %>" class="img-circle" alt="User Image">
                              <p>
                                  <%= user.tag %>
                              </p>
                           </li>
                           <!-- Menu Footer-->
                           <li class="user-footer">
                              <div class="pull-left">
                                 <a href="dashboard" class="btn btn-default btn-flat">Back to Dashboard</a>
                              </div>
                              <div class="pull-right">
                                 <a href="/api/discord/logout" class="btn btn-default btn-flat">Logout</a>
                              </div>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </nav>
         </header>
         <!-- Left side column. contains the logo and sidebar -->
         <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
               <!-- Sidebar user panel -->
               <div class="user-panel">
                  <div class="pull-left image">
                     <img src="<%= user.avatarURL %>" class="img-circle" alt="User Image">
                  </div>
                  <div class="pull-left info">
                     <p><%= user.tag %></p>
                     <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  </div>
               </div>
               <!-- sidebar menu: : style can be found in sidebar.less -->
               <ul class="sidebar-menu" data-widget="tree">
                  <li class="header">DASHBOARD</li>
                  <li>
                     <a href="/panel/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                     </a>
                  </li>
                  <li class="header">SERVERS MANAGEMENT</li>
                  <li><a href="/panel/selector"><i class="fa fa-mouse-pointer"></i> <span>Selector</span></a></li>
                  <li class="treeview">
                      <a href="">
                          <i class="fa fa-list"></i> <span>Servers list</span>
                          <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <% guilds.forEach(guild => { %>
                          <% if(guild.perm !== "unknow" && guild.perm){ %>
                            <li><a href="/panel/guild/<%= guild.id %>"><i class="fa fa-circle-o text-aqua"></i> <%= guild.name %></a></li>
                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
                  <li class="header">STATISTICS</li>
                  <li><a href="me"><i class="fa fa-area-chart"></i> <span>My stats</span></a></li>
                  <li><a href="global"><i class="fa fa-globe"></i> <span>Global stats</span></a></li>
                  <li class="active treeview">
                      <a href="">
                          <i class="fa fa-list"></i> <span>Server stats</span>
                          <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <% guilds.forEach(tguild => { %>
                          <% if(tguild.perm !== "unknow" && guild.guild.id !== tguild.id){ %>
                            <li><a href="/panel/stats/guild/<%= tguild.id %>"><i class="fa fa-circle-o text-aqua"></i> <%= tguild.name %></a></li>
                          <% } else if(tguild.perm !== "unknow") { %>
                            <li class="active"><a href="/panel/guild/<%= tguild.id %>"><i class="fa fa-circle-o text-aqua"></i> <%= tguild.name %></a></li>
                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
               </ul>
            </section>
            <!-- /.sidebar -->
         </aside>
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <h1>
                  Dashboard
                  <small>Global stats (all servers and users)</small>
               </h1>
               <ol class="breadcrumb">
                  <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
               </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3><%= guild.stats.commands %></h3>
                                <p>Commands sent</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-send"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Commands sent each day</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="commandsChart" style="height:250px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
         <footer class="main-footer">
            <div class="pull-right hidden-xs">
               <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
         </footer>

      </div>
      <!-- ./wrapper -->
      <!-- jQuery 3 -->
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button);
      </script>
      <!-- Bootstrap 3.3.7 -->
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- Morris.js charts -->
      <script src="/bower_components/raphael/raphael.min.js"></script>
      <script src="/bower_components/morris.js/morris.min.js"></script>
      <!-- Sparkline -->
      <script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- jvectormap -->
      <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
      <script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- jQuery Knob Chart -->
      <script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
      <!-- daterangepicker -->
      <script src="/bower_components/moment/min/moment.min.js"></script>
      <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- datepicker -->
      <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
      <!-- Slimscroll -->
      <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="/bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="/dist/js/adminlte.min.js"></script>
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <script src="/dist/js/pages/dashboard.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="/dist/js/demo.js"></script>
      <!-- ChartJS -->
      <script src="/bower_components/chart.js/Chart.js"></script>
      <script>
        //Date picker
        $('#datepicker').datepicker({
          autoclose: true
        })
        $(function () {
            
          var areaChartCanvas = $('#commandsChart').get(0).getContext('2d');
          var areaChart = new Chart(areaChartCanvas);
          
          var stats = JSON.parse('<%- JSON.stringify(guild.stats.commandsSent) %>');

          var dates = [], data = [];
          for(var date in stats){
            dates.push(date);
            data.push(stats[date]);
          };
          
          var areaChartData = {
            labels  : dates,
            datasets: [
              {
                label               : 'Stats',
                fillColor           : 'rgba(60,141,188,0.9)',
                strokeColor         : 'rgba(60,141,188,0.8)',
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : data
              }
            ]
          };

          var areaChartOptions = {
            showScale               : true,
            scaleShowGridLines      : false,
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            scaleGridLineWidth      : 1,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines  : true,
            bezierCurve             : true,
            bezierCurveTension      : 0.3,
            pointDot                : false,
            pointDotRadius          : 4,
            pointDotStrokeWidth     : 1,
            pointHitDetectionRadius : 20,
            datasetStroke           : true,
            datasetStrokeWidth      : 2,
            datasetFill             : true,
            maintainAspectRatio     : true,
            responsive              : true
          };

          //Create the line chart
          areaChart.Line(areaChartData, areaChartOptions);
          
        });
      </script>
   </body>
</html>