<div class="modal fade" id="leave-guild-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><%= translate("dashboard/manage:LEAVE_GUILD_MODAL_TITLE") %></h4>
            </div>
            <div class="modal-body">
                <p><%= translate("dashboard/manage:LEAVE_GUILD_MODAL_CONTENT") %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= translate("common:CANCEL") %></button>
                <form method="post" action="/guild/update/<%= guild.id %>/leave">
                    <button type="submit" class="btn btn-danger"><%= translate("common:CONFIRM") %></button>
                </form>
            </div>
        </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->