<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Atlanta Dashboard</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
      <!-- Morris chart -->
      <link rel="stylesheet" href="/bower_components/morris.js/morris.css">
      <!-- jvectormap -->
      <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
      <!-- Date Picker -->
      <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
      <!-- bootstrap wysihtml5 - text editor -->
      <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
   </head>
   <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
         <header class="main-header">
            <!-- Logo -->
            <a href="dashboard" class="logo">
               <!-- mini logo for sidebar mini 50x50 pixels -->
               <span class="logo-mini"><b>A</b></span>
               <!-- logo for regular state and mobile devices -->
               <span class="logo-lg"><b>Atlanta</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
               <!-- Sidebar toggle button-->
               <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
               <span class="sr-only">Toggle navigation</span>
               </a>
               <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                     <!-- User Account: style can be found in dropdown.less -->
                     <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%= user.avatarURL %>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><%= user.tag %></span>
                        </a>
                        <ul class="dropdown-menu">
                           <!-- User image -->
                           <li class="user-header">
                              <img src="<%= user.avatarURL %>" class="img-circle" alt="User Image">
                              <p>
                                  <%= user.tag %>
                              </p>
                           </li>
                           <!-- Menu Footer-->
                           <li class="user-footer">
                              <div class="pull-left">
                                 <a href="dashboard" class="btn btn-default btn-flat">Back to Dashboard</a>
                              </div>
                              <div class="pull-right">
                                 <a href="/api/discord/logout" class="btn btn-default btn-flat">Logout</a>
                              </div>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </nav>
         </header>
         <!-- Left side column. contains the logo and sidebar -->
         <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
               <!-- Sidebar user panel -->
               <div class="user-panel">
                  <div class="pull-left image">
                     <img src="<%= user.avatarURL %>" class="img-circle" alt="User Image">
                  </div>
                  <div class="pull-left info">
                     <p><%= user.tag %></p>
                     <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  </div>
               </div>
               <!-- sidebar menu: : style can be found in sidebar.less -->
               <ul class="sidebar-menu" data-widget="tree">
                  <li class="header">DASHBOARD</li>
                    <li>
                        <a href="/panel/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                  <li class="header">SERVERS MANAGEMENT</li>
                  <li><a href="/panel/selector"><i class="fa fa-mouse-pointer"></i> <span>Selector</span></a></li>
                  <li class="treeview active">
                      <a href="">
                          <i class="fa fa-list"></i> <span>Servers list</span>
                          <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <% guilds.forEach(g => { %>
                          <% if(g.perm !== "unknow" && g.perm){ %>
                            <% if(guild.guild.id === g.id){ %>
                              <li class="active"><a href="/panel/guild/<%= g.id %>"><i class="fa fa-circle-o text-aqua"></i> <%= g.name %></a></li>
                            <% } else { %>
                              <li><a href="/panel/guild/<%= g.id %>"><i class="fa fa-circle-o text-aqua"></i> <%= g.name %></a></li>
                            <% } %>
                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
               </ul>
            </section>
            <!-- /.sidebar -->
         </aside>
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <h1>
                  Dashboard
                  <small>Control panel</small>
               </h1>
               <ol class="breadcrumb">
                  <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
               </ol>
            </section>
            <!-- Main content -->
            <section class="content">
               <!-- Small boxes (Stat box) -->
               <div class="row">
                  <div class="col-lg-3 col-xs-6">
                     <!-- small box -->
                     <div class="small-box bg-aqua">
                        <div class="inner">
                           <h3><%= guild.stats.commands %></h3>
                           <p>Commands sent</p>
                        </div>
                        <div class="icon">
                           <i class="fa fa-send"></i>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-xs-6">
                      <!-- small box -->
                      <div class="small-box bg-yellow">
                         <div class="inner">
                            <h3><%= guild.stats.memberCount %></h3>
                            <p>Members</p>
                         </div>
                         <div class="icon">
                            <i class="fa fa-users"></i>
                         </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                       <div class="inner">
                          <h3><%= guild.conf.case %></h3>
                          <p>Sanctions</p>
                       </div>
                       <div class="icon">
                          <i class="fa fa-warning"></i>
                       </div>
                    </div>
                </div>
                  <!-- ./col -->
               </div>
               <!-- /.row -->
               <!-- Main row -->
               <div class="row">
                  <div class="col-md-6">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Guild stats - Commands sent</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <div class="box-body">
                        <% if(guild.stats.commands < 1) { %>
                          <div>
                            <p>No commands sent.</p>
                          </div>

                        <% } else { %>
                        <div class="chart">
                          <canvas id="stats" style="height:250px"></canvas>
                        </div>
                        <% } %>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!-- right col -->
                  <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                        <h3 class="box-title">Guild Stats - Most used commands</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                          <% if(guild.stats.commands < 1) { %>
                            <div>
                              <p>No commands sent.</p>
                            </div>
  
                          <% } else { %>
                            <table class="table table-condensed">
                                <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Command</th>
                                  <th style="width: 40px">Count</th>
                                </tr>
                                <% var i = 0; guild.stats.topCommands.forEach(cmd => { i++; %>
                                  <tr>
                                    <td><%= i %>.</td>
                                    <td><%= cmd.command.charAt(0).toUpperCase()+cmd.command.substr(1, cmd.command.length) %></td>
                                    <td><span class="badge bg-red"><%= cmd.count %></span></td>
                                  </tr>
                                <% }) %>
                              </table>
                          <% } %>
                        
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
               </div>
               <!-- /.row (main row) -->
               
               <form action="/panel/guild/<%=guild.guild.id%>" method='post' id="editConf">
                <div class="col-md-6">
                  <!-- SELECT2 EXAMPLE -->
                  <div class="box box-warning">
                      <div class="box-header with-border">
                        <h3 class="box-title">Basic Configuration</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Suggestions</label>
                              <select class="form-control select2" style="width: 100%;" name="suggestions">
                                <% var selected = client.channels.get(guild.conf.channels.suggestion) %>
                                <% if(selected){ %> 
                                  <option selected="selected"><%= selected.name %></option>
                                <% } else { %>
                                  <option selected="selected">No channel</option>
                                <% } %>
                                <% guild.guild.channels.filter(ch => ch.type === "text").forEach(ch => { %>
                                  <% if(selected && ch.id === selected.id){ return;} else { %>
                                    <option><%= ch.name %></option>
                                  <% } %>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                          <!-- /.col -->
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>ModLogs</label>
                                  <select class="form-control select2" style="width: 100%;" name="modlogs">
                                    <% var selected = client.channels.get(guild.conf.channels.modlogs) %>
                                    <% if(selected){ %> 
                                      <option selected="selected"><%= selected.name %></option>
                                    <% } else { %>
                                      <option selected="selected">No channel</option>
                                    <% } %>
                                    <% guild.guild.channels.filter(ch => ch.type === "text").forEach(ch => { %>
                                      <% if(selected && ch.id === selected.id){ return;} else { %>
                                        <option><%= ch.name %></option>
                                      <% } %>
                                    <% }) %>
                                  </select>
                              </div>
                            </div>
                            <!-- /.col -->
                            <div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Prefix</label>
                                      <input type="text" class="form-control" placeholder="<%= guild.conf.prefix %>" name="prefix">
                                    </div>
                                  </div>
                            </div>
                            <div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Language</label>
                                    <select class="form-control select2" style="width: 100%;" name="language">
                                      <% if(guild.conf.lang === 'fr'){ %>
                                        <option selected="selected">French</option>
                                        <option>English</option>
                                      <% } else { %>
                                        <option selected="selected">English</option>
                                        <option>French</option>
                                      <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                          <button type="submit" id="update" class="btn btn-info pull-right">Update</button>
                      </div>
                    </div>
                    <!-- /.box -->
                </div>
               </form>
              </div>
            </section>
            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
         <footer class="main-footer">
            <div class="pull-right hidden-xs">
               <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
         </footer>

      </div>
      <!-- ./wrapper -->
      <!-- jQuery 3 -->
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button);
      </script>
      <!-- Bootstrap 3.3.7 -->
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- Morris.js charts -->
      <script src="/bower_components/raphael/raphael.min.js"></script>
      <script src="/bower_components/morris.js/morris.min.js"></script>
      <!-- Sparkline -->
      <script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- jvectormap -->
      <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
      <script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- jQuery Knob Chart -->
      <script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
      <!-- daterangepicker -->
      <script src="/bower_components/moment/min/moment.min.js"></script>
      <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- datepicker -->
      <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
      <!-- Slimscroll -->
      <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="/bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="/dist/js/adminlte.min.js"></script>
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <script src="/dist/js/pages/dashboard.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="/dist/js/demo.js"></script>
      <!-- ChartJS -->
      <script src="../../bower_components/chart.js/Chart.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      
      <script>
        $(function () {
          /* ChartJS
          * -------
          * Here we will create a few charts using ChartJS
          */
          //--------------
          //- AREA CHART -
          //--------------
          // Get context with jQuery - using jQuery's .get() method.
          var areaChartCanvas = $('#stats').get(0).getContext('2d');
          if(!areaChartCanvas) return;
          // This will get the first returned node in the jQuery collection.
          var areaChart       = new Chart(areaChartCanvas);
          var stats = JSON.parse('<%- JSON.stringify(guild.stats.commandsSent) %>');
          
          var dates = [];
          var data = [];
          for(var date in stats){
            dates.push(date);
            data.push(stats[date]);
          }
          var areaChartData = {
            labels  : dates,
            datasets: [
              {
                label               : 'Stats',
                fillColor           : 'rgba(60,141,188,0.9)',
                strokeColor         : 'rgba(60,141,188,0.8)',
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : data
              }
            ]
          }
          var areaChartOptions = {
            //Boolean - If we should show the scale at all
            showScale               : true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines      : false,
            //String - Colour of the grid lines
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth      : 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines  : true,
            //Boolean - Whether the line is curved between points
            bezierCurve             : true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension      : 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot                : false,
            //Number - Radius of each point dot in pixels
            pointDotRadius          : 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth     : 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius : 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke           : true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth      : 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill             : true,
            //String - A legend template
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio     : true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive              : true
          }
          //Create the line chart
          areaChart.Line(areaChartData, areaChartOptions);
        });
      </script>
   </body>
</html>