<!DOCTYPE html>
<html>

	<%- include('includes/head') %>
	
    <body class="hold-transition skin-blue sidebar-mini">
        
        <div class="wrapper">
        
            <!-- The header is the topbar -->
            <%- include('includes/header') %>

            <!-- The sidebar includes the menu -->
            <%- include('includes/sidebar') %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    404 Error Page
                </h1>
            </section>

			<!-- Main content -->
			<section class="content">
				<div class="error-page">
					<h2 class="headline text-yellow"> 404</h2>

					<div class="error-content">
						<h3><i class="fa fa-warning text-yellow"></i> <%= translate("dashboard:NOT_FOUND") %></h3>

						<p>
							<%= translate("dashboard:NOT_FOUND_CONTENT") %>
						</p>

						<form class="search-form" action="/selector">
							<div class="input-group">
								<input type="text" name="q" class="form-control" placeholder="<%= translate("dashboard:SEARCH") %>">

								<div class="input-group-btn">
									<button type="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
									</button>
								</div>
							</div>
							<!-- /.input-group -->
						</form>
					</div>
					<!-- /.error-content -->
				</div>
				<!-- /.error-page -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
    
   		<%- include('includes/footer') -%>
		
	</div>
	<!-- ./wrapper -->
</body>
</html>
