<!DOCTYPE html>
<html>

    <%- include includes/head %>
    
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">

			<!-- The header is the topbar -->
			<%- include includes/header %>

			<!-- The sidebar includes the menu -->
			<%- include includes/sidebar %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1> <%= language.get("SELECTOR") %> <small> Version 1.0.0-beta </small> </h1>
				</section>

				<!-- Main content -->
                <section class="content">
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-8 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                <li class="active"><a href="#rank-money" data-toggle="tab"> <%= language.get("PROFILE_HEADINGS").MONEY %></a></li>
                                <li><a href="#rank-level" data-toggle="tab"> <%= language.get("PROFILE_HEADINGS").LEVEL %></a></li>
                                <li><a href="#rank-rep" data-toggle="tab"> <%= language.get("PROFILE_HEADINGS").REP %></a></li>
                                <li class="pull-left header"><i class="fa fa-trophy"></i> <%= language.get("UTILS").LEADERBOARD %></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="rank-money" style="position: relative; height: 300px;">
                                        <div class="chart">
                                            <canvas id="Crank-money" style="height:230px"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="rank-level" style="position: relative; height: 300px;">
                                        <div class="chart">
                                            <canvas id="Crank-level" style="height:230px"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="rank-rep" style="position: relative; height: 300px;">
                                        <div class="chart">
                                            <canvas id="Crank-rep" style="height:230px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.nav-tabs-custom -->
                        </section>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-yellow">
                                <div class="widget-user-image">
                                    <img class="img-circle" src="<%= stats.money[0].displayAvatarURL %>" alt="User Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 class="widget-user-username"><a href="/user/<%= stats.money[0].id %>" style="color:white"><%= stats.money[0].username %></a></h3>
                                <h5 class="widget-user-desc"><%= language.get("FIRST_LEAD_MONEY") %></h5>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-red">
                                <div class="widget-user-image">
                                    <img class="img-circle" src="<%= stats.level[0].displayAvatarURL %>" alt="User Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 class="widget-user-username"><a href="/user/<%= stats.level[0].id %>" style="color:white"><%= stats.level[0].username %></a></h3>
                                <h5 class="widget-user-desc"><%= language.get("FIRST_LEAD_LEVEL") %></h5>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-green">
                                <div class="widget-user-image">
                                    <img class="img-circle" src="<%= stats.rep[0].displayAvatarURL %>" alt="User Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 class="widget-user-username"><a href="/user/<%= stats.rep[0].id %>" style="color:white"><%= stats.rep[0].username %></a></h3>
                                <h5 class="widget-user-desc"><%= language.get("FIRST_LEAD_REP") %></h5>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <!-- /.col -->
                    </div>
    
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><%= language.get("UTILS").YOUR_PROFILE %></h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" action="/profile" method="POST">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><%= language.get("PROFILE_HEADINGS").MONEY %></label>
                                                    <input class="form-control" placeholder="<%= user.money %>" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label><%= language.get("PROFILE_HEADINGS").REP %></label>
                                                    <input class="form-control" placeholder="<%= user.rep %>" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label><%= language.get("PROFILE_HEADINGS").LEVEL %></label>
                                                    <input class="form-control" placeholder="<%= user.level %>" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><%= language.get("PROFILE_HEADINGS").BIO %></label>
                                                    <input name="bio" class="form-control" placeholder="<%= user.bio || language.get('NO_BIO') %>">
                                                </div>
                                                <div class="form-group">
                                                    <label><%= language.get("PROFILE_HEADINGS").BIRTHDATE %></label>
                                    
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" name="birthdate" class="form-control pull-right" id="datepicker">
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                                <!-- /.form group -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary"><%= language.get("UTILS").UPDATE %></button>
                                    </div>
                                </form>
                            </div>
                          <!-- /.box -->
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <%- include includes/footer %>
		</div>
        <!-- ./wrapper -->
        <!-- bootstrap datepicker -->
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- ChartJS -->
        <script src="/bower_components/chart.js/Chart.js"></script>
        <script>
            $(function(){
                $("#datepicker").datepicker({
                    autoclose: true
                });
                
                let values = [ "money", "level", "rep" ];
                values.forEach((value) => {
                    let members = JSON.parse(`<%- JSON.stringify(stats) %>`)[value];
                    let data = {
                        labels  : members.map((m) => m.username),
                        datasets: [
                            {
                                label               : "Leaderboard "+value,
                                fillColor           : '#00a65a',
                                strokeColor         : '#00a65a',
                                pointColor          : '#00a65a',
                                pointStrokeColor    : 'rgba(60,141,188,1)',
                                pointHighlightFill  : '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data                : members.map((m) => m[value])
                            }
                        ]
                    }
                    const barChartCanvas = $("#Crank-"+value).get(0).getContext("2d");
                    const barChart = new Chart(barChartCanvas),
                    barChartData = data,
                    barChartOptions = {
                        scaleBeginAtZero        : true,
                        scaleShowGridLines      : true,
                        scaleGridLineColor      : 'rgba(0,0,0,.05)',
                        scaleGridLineWidth      : 1,
                        scaleShowHorizontalLines: true,
                        scaleShowVerticalLines  : true,
                        barShowStroke           : true,
                        barStrokeWidth          : 2,
                        barValueSpacing         : 5,
                        barDatasetSpacing       : 1,
                        responsive              : true,
                        maintainAspectRatio     : true
                    }
                    barChartOptions.datasetFill = false
                    barChart.Bar(barChartData, barChartOptions);
                    console.log("BARRED")
                });
                $(`.tab-content > div[class="tab-pane active"]`).slice(1, 23).removeClass("active")
            });
        </script>
	</body>
</html>