<!DOCTYPE html>
<html>

	<%- include('includes/head') %>

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">

			<!-- The header is the topbar -->
			<%- include('includes/header') %>

			<!-- The sidebar includes the menu -->
			<%- include('includes/sidebar') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1> <%= language.get("SELECTOR") %> <small> Version 1.0.0-beta </small> </h1>
					<ol class="breadcrumb">
						<li class="active"><a href="/"><i class="fa fa-home"></i> <%= language.get("SELECTOR") %></a></li>
					</ol>
				</section>

				<section class="content">

					<% if(user.displayedGuilds){ user.displayedGuilds.forEach(function(guild) { %>
						<!-- Displays 4 servers by line -->
						<div class="col-md-3">
							<div class="box box-solid">
								<div class="box-header with-border text-center">
									<i class="fas fa-crown"></i>    
									<h3 class="box-title"><%= guild.name %></h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<div class="text-center">
										<img src="<%= guild.iconURL %>" style="border-radius:100%" width="100" height="100" class="img-fluid">
									</div>
								</div>
								<!-- /.box-body -->
								<div class="box-footer">
									<a href="<%= guild.settingsUrl %>"><button class="btn btn-success"><%= language.get("UTILS").MANAGE %></button></a>
									<a href="<%= guild.statsUrl %>"><button type="submit" name="welcomeUpdate" class="btn btn-primary"><%= language.get("UTILS").STATS %></button></a>
								</div>
								<!-- /.box-footer -->
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
					<% }); } else { %>
						<div class="col-md-12">
							<div class="box box-warning">
								<div class="box-header with-border">
									<h3 class="box-title"><%= language.get("ERR_NO_SERVER_FOUND") %></h3>
									<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
									</button>
									</div>
									<!-- /.box-tools -->
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<%= language.get("ERR_NO_SERVER_FOUND_CONTENT") %>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					<% } %>
					</div>
				</section>
				
				<!-- Footer includes credits and version -->
				<%- include('includes/footer') %>
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->
	</body>
</html>